zone/*
!zone/Archi-T7Overcharged.dll
zone_source/*
!zone_source/scripts
!zone_source/*.zone
sound/zone
english/sound/zone
*.pdn

.vscode

saves

magicbox.csv
T7Overcharged.lua
~$LevelWeapons.xlsx
bo3_archipelago.zip